*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-block:40px; 
    /* top and bottom se margin */

}

header{
    width:100%;
    max-width:800px;
    text-align: center;
    
}

header h1{
    color: #767676;
}

header form .search-container{
    margin-top:20px;
    position: relative;
}



header form .search-container input{
    width:100%;
    font-size:18px;
    padding:12px 24px;
    border-radius: 20px;
    border:none;
    background: #eee;
}

header form .search-container .material-symbols-outlined{
    position: absolute;
    right:10px;
    bottom:12px;
    color:#777;
}

.images-container .imageDiv{
    position: relative;
}
.imageDiv .overlay{
    /* position: absolute;
    ➡️ overlay ko image ke upar layer ki tarah bithane ke liye */
    /* imageDiv ko position: relative hona chahiye — yaad rakhna */
    position: absolute;
    left:0;
    bottom: 0;
    /* overlay image ke bottom se start kare  ye left and bottom ka meaning tha */
    width:100%;
    height:0; 
    /* overlay bilkul gayab */
    background-color: rgba(0,0,0,0.7);
    transition: height 0.3s ease; 
    /* height change smooth animation ke saath ho 0.3 seconds me */
    display:flex;
    justify-content:center;
    align-items:center;
    /* isse text bich me aa jayega vertically and horizontally dono */
    

}

.imageDiv:hover .overlay{
    /* Jab mouse .imageDiv pe aata hai .overlay ki height: 0  →  100% */
    height:100%;
}

.images-container .overlay h3{
    color:#fff;
    display:none;

}

.imageDiv:hover .overlay h3{
    display:block; 
    /* ab yeh hover krne pe visible hoga */
    text-align: center;
    font-size:20px;
}

/* Adding style to load More button */

.loadMoreBtn{
    border:none;
    background-color: #20b2aa;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding:8px 12px;
    border-radius: 5px;
    cursor:pointer;
    /* button by default inline hota h */
    /* margin: auto sirf tab kaam karta hai jab element block-level ho */
    /* display: block;  */
    /*ye display:block isliye htaya kyunki display:block js query me likh diya h */
    margin: 0 auto 40px auto;
    display: none;
}

main section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0 50px 0;
    /* top se 20px ,bottom se 50px and left right se 0 */
}

/* responsive code */
@media screen and (max-width:920px){
    /* max width means 920px ya usse choti screen hogi tb ye property lgegi */
    header{
        width:400px;
        
    }
}
/* is size se badi screen ke liye CSS lagao */

.images-container{
    margin-block: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    /* jitni images ek bar me screen me fit ho payegi utni images ayegi */
    gap:20px;
}

.images-container img{
    width:300px;
    height:280px;
}

.download-btn{
    background: #20b2aa;
    color:white;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
    margin-top:10px;
    font-size:16px;
}


